{% extends "base.html" %}
{% block title %}
    Temir Daftar
{% endblock title %}

{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Qarzlar Ro'yhati</h4>
        <p class="card-description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat voluptas sunt libero! Sit dolores, nemo accusamus ratione porro vitae quis quod illum laboriosam?
        </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>T/r</th>
                <th>
                  Mijoz
                </th>
                <th>
                  Qarz miqdori
                </th>
                <th>
                  To'langan
                </th>
                <th>
                  Ma'sul Shaxs
                </th>
                <th>
                  Qarz olingan
                </th>
                <th>
                  Oxirgi to'lov
                </th>
                <th>
                  Ekshin
                </th>
              </tr>
            </thead>
            <tbody>
              {% for i in debts %}
              <tr {% if i.is_payed %} style="background-color: rgba(5, 187, 5, 0.87);" {% elif i.is_late %} style="background-color: rgba(249, 18, 18, 0.667);" {% else %} style="background-color: rgba(255, 255, 23, 0.853);" {% endif %} >
                <td class="py-1">
                  {{forloop.counter}}
                </td>
                <td>
                  {{i.customer.name}} 
                </td>
                <td>
                  {{i.amount}} so'm
                </td>
                <td>
                  {{i.payed_amount}}
                </td>
                <td>
                    {{i.user.get_full_name}}
                </td>
                <td>
                  {{i.created}}
                </td>
                <td>
                  {{i.updated}}
                </td>
                <td> 
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-{{forloop.counter}}">
                    To'lash
                  </button>
                </td>
              </tr>
                  <!-- Modal -->
                  <div class="modal fade" id="modal-{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">{{i.cargo.yetkazib_beruvci}}ga qarz to'lash</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post">
                        <div class="modal-body">
                          <div class="modal-arrvived_products">
                            <h3>Ro'yhat</h3>
                            <ul class="container row list-group-horizontal">
                              <li class="col-1 list-group-item"><b>No</b></li>
                              <li class="col-4 list-group-item"><b>Mahsulot</b></li>
                              <li class="col-2 list-group-item"><b>Miqdor</b></li>
                              <li class="col-2 list-group-item"><b>To'lov Turi</b></li>
                              <li class="col-3 list-group-item"><b>Umumiy Narxi</b></li>
                            </ul>
                              {% for a in i.customer.selledproduct_set.all %}
                                <ul class="container row list-group-horizontal">
                                  <li class="col-1 list-group-item">{{forloop.counter}}</li>
                                  <li class="col-4 list-group-item">{{a.product.name}}</li>
                                  <li class="col-2 list-group-item">{{a.soni}} {{a.product.type_of_measurement}}</li>
                                  <li class="col-2 list-group-item">{{a.get_type_of_price_display}}</li>
                                  {% if a.type_of_price == "selling" %}
                                    <li class="col-3 list-group-item">{% widthratio a.soni 1 a.product.olingan_price %}</li>
                                  {% elif a.type_of_trade == "actual" %}
                                    <li class="col-3 list-group-item">{% widthratio a.soni 1 a.product.sotuv_price %}</li>
                                  {% else %}
                                    <li class="col-3 list-group-item">{% widthratio a.soni 1 a.product.optom_price %}</li>
                                  {% endif %}
                                </ul>
                            {% endfor %}
                            <div class="modal-form-inpust">
                              <h3 class="mt-5">To'lash</h3>
                                {% if i.is_payed %}
                                    <p class="text-muted">Qarz to'lab bo'lingan</p>
                                {% else %}
                                    {% csrf_token %}
                                    <input required type="hidden" name="debt_id" value="{{i.id}}">
                                    <label for="amount">To'lash summani kiriting </label>
                                    <input required max="{{i.amount}}" type="number" class="form-control" name="amount" placeholder="Summani kiriting" value="{{i.amount}}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button " class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">To'lash</button>
                        </div>
                      </form>
                      </div>
                    </div>
                  </div>
              {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}